In [37]:
import pandas as pd

# df = pd.read_pickle("output_tables/schedule_table_2_pages_44_45.pkl")
df = pd.read_pickle("my_dataframe.pkl")
display(df)

,0,1,2
0,TJ301,Protocol No.: CTJ301UC201,Date: 16 May 2017
1,Solution for Injection,,Ver.1.1
2,Clinical Trial Protocol,,Supersedes: Ver.1.0
3,,,Page 43 of 97
4,TRIAL PROCEDURES \n6,,
5,Trial Flowchart \n6.1,,
6,,The trial includes a Run-in Period (if stable ...,
7,,"Period, a 12-week double-blind Treatment Perio...",
8,,105. All periods are associated with evaluatio...,
9,,"time points, as described in Sections 6.2 thro...",
10,summarises the frequency and timing of trial e...,,
11,TJ301 antibodies and Biomarker Samples Schedul...,,
12,respectively.,,
13,Leading Biopharm Limited,CONFIDENTIAL,

In [31]:
df = df.drop_duplicates()
display(df)

                                                   0              1
0                                   <Protocol Title>  Version <X.X>
1                                       Protocol <#>  DD Month YYYY
2  1.3, Schedule of Activities, e.g., Visit 1, Da...
3  contacts with participants “Visit 1, Visit 2, ...
4  remotely without an in-person visit should als...
5  the term “Time 1, Time 2, etc.,” to accommodat...
6                                          remotely.

In [32]:
df.describe()

                       0  1
count                  7  7
unique                 7  3
top     <Protocol Title>
freq                   1  5

In [33]:
df = df.replace({'•': 1, '•c':1, '•a': 1, '': 0, None: 0})
display(df)

                                                   0              1
0                                   <Protocol Title>  Version <X.X>
1                                       Protocol <#>  DD Month YYYY
2  1.3, Schedule of Activities, e.g., Visit 1, Da...              0
3  contacts with participants “Visit 1, Visit 2, ...              0
4  remotely without an in-person visit should als...              0
5  the term “Time 1, Time 2, etc.,” to accommodat...              0
6                                          remotely.              0

In [24]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
count,34,34,34,34,34,34,34,34,34,34,34,34,34,34,34,34,34,34,34
unique,34,4,5,4,5,4,6,5,6,6,6,6,6,4,4,5,6,6,6
top,Trial Activity,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
freq,1,28,16,23,16,31,29,30,18,15,19,15,19,31,31,30,16,29,19